<div>
<div class="rectangle-1">

    <mat-card class="loginStyles">
      <mat-card-title >
        Login
      </mat-card-title>
      <mat-card-content >
        <form method="POST" class="input-form" (ngSubmit)="userLogin()">
          <mat-form-field class="input-full-width">
            <input matInput [(ngModel)]="login.user" name="user" type="text" placeholder="Usuario" />
          </mat-form-field>
          <mat-form-field class="input-full-width">
              <input matInput [(ngModel)]="login.password" name="password" type="password" placeholder="Password" />
          </mat-form-field>
          <div class="button-row">
              <button mat-raised-button type="submit" color="primary">OK</button>
              <button mat-raised-button type="cancel" color="warn">Cancelar</button>
          </div>
          </form>
        </mat-card-content>

     
    </mat-card>
</div>
</div>
