<h1 class="mat-display-1">Datos Configuración App</h1>

<form>
<div class="example-container">

  <mat-form-field>
    <input matInput placeholder="CUIT" id="cuit" >
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Razón Social">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Domicilio">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Código Postal">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Localidad">
  </mat-form-field>
    </div>  
</form>

